button {
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    color: var(--light-green);
    margin: 30px;
    transition: 0.25s all;
}

button:hover{
    color: #79e651;
}
button:active{
    color: #33b105;
}