/*Central ========================== */
:root {

    --color-blue: #22357c;
    --green: #49aa26;
    --light-green: #3dd705;
    --red: #e92929;
}
* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

html {

    font-size: 93.75%;
}

body{

background:#f0f2f5;
font-family: "Poppins",sans-serif;

}