.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    height: 120px;
    width: 350px;
    margin: 30px;
    background-color: aliceblue;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    transition: 0.25s all;
}
.card:hover{
    transform: scale(1.05);
}
.title-card{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.value-card{
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .cards{
        flex-direction: column;
    }
}